.main-wrapper {width:100%; overflow:hidden;}
.video-wrapper {position:relative; padding-top:56.2%; width:100%;}
.video-wrapper .video {width:100%; height: 100%; position: absolute; top: 0; left: 0; transform:scale(1.2); transition: all 1s;} 
.video-wrapper .video-cover {width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
